body{
    background-color: rgb(0, 130, 173);
    }

body .background{
    background-color:#db0909;
    height: 2500px;
    margin: 0px 0px 0px 0px;
    padding-top: 0px;
    }

h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(19, 99, 204);
}

.topnavbar {

    display: flexbox;
    background-color: azure;
    width: 100%;
    position: fixed;
    align-items: center;
    text-align: right;

}

.topnavbar .navbar-ul li{
    list-style-type: none;
    display: inline;
    }

.topnavbar .navbar-ul li a {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(19, 99, 204);
    margin: 0px 50px 0px 50px;
    text-decoration: none;
}

.login-btn {
    display: flexbox;
    color: azure;
    background-color: rgb(19, 99, 204);
    color: azure;
    #padding: 5px 15px;
    border-radius: 20px;

}