.redes_sociales{
    display: fixed;
    justify-content: space-between;
    margin-bottom: 1vh;
    margin-left: 1vh;
    bottom:0;
    position:fixed;
}

.icon{

    &:hover{
        -webkit-filter: brightness(0.6)contrast(3.4)hue-rotate(217deg)saturate(9.9);
        filter: brightness(0.6)contrast(3.4)hue-rotate(217deg)saturate(9.9);
    }
}