
<footer class="redes_sociales">
    <a title="facebook" href="https://www.facebook.com"><img src="../assets/facebook.png"alt="" class='icon' width="30rem" height="30px" ></a>
    <a title="twitter" href="https://twitter.com/?lang=es"><img src="../assets/twitter.png"alt="" class='icon' width="30rem" height="30px" target="blank"></a>
    <a title="instagram" href="https://www.instagram.com/kuanghua_laurbina/"><img src="../assets/instagram.png"alt="" class='icon' width="30rem" height="30px" target="blank"></a>
    <a title="whatsapp" href="https://wa.me/+584123902514"><img src="../assets/whatsapp.png" alt="" class='icon' width="30rem" height="30px" target="blank"></a>
    <a title="linked-in" href="https://www.linkedin.com/login/es"><img src="../assets/linkedin.png"alt="" class='icon' width="30rem" height="30px" target="blank"></a>
    <a title="e-mail" href="https://www.google.com/intl/es-419/gmail/about/"><img src="../assets/email.png"alt="" class='icon' width="30rem" height="30px" target="blank"></a>
</footer>