@import '../../styles/variables.scss';

.the-team{
    margin-top: 80px;
    background-color: $lightShadow;
    height: fit-content;
    border-radius: 20px;
    color: $blueProject;
    
    .card-text{
        color: black;
    }

    h1{
        padding-top: 20px;
        padding-bottom: 20px;
        color: $blueProject;
        font-size: 5vh;
        font-weight: bold;
        text-align: center;
    }
}

.card-img-top{
    max-height: 35vh;
}


.carousel-indicators .active{
    background-color: $blueProject;
    margin-bottom: 0px;
    bottom: 0;
}

.carousel-indicators .inactive{
    background-color: $blueProject;
    margin-bottom: 0px;
    bottom: 0;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.carousel-indicators {
    bottom: -50px;
}

.card{
    height: 65vh;
    text-size-adjust: auto;
}

.card-text{
    font-size: 14px;
    word-break: keep-all !important;
}

h4{
    color:$blueProject; 
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

p{
    text-align: justify;
}



