
<app-navbar></app-navbar>

<section class="the-team"> 

    <div>
        <h1 class="display-1">Conoce al equipo</h1>
    </div>

    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
        <!--Controls-->
        <div class="controls-top">
          <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
          <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
              class="fas fa-chevron-right"></i></a>
        </div>
        <!--/.Controls-->
      
        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
          <li data-target="#multi-item-example" data-slide-to="1"></li>
          
        </ol>
        <!--/.Indicators-->
      
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
      
          <!--First slide-->
          <div class="carousel-item active">
      
            <div class="col-md-3" style="float:left">
             <div class="card mb-2">
                <img class="card-img-top"
                  src="../assets/mariad.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">María José Díaz</h4>
                  <p class="card-text">Estudiante de Matematicas Industriales mención Sistemas y Computación de la Universidad Metropolitana de Venezuela, también estudiante de Animación y Modelado 3D. Le gustan las matemáticas puras y las matemáticas aplicadas al arte.</p>
                  
                </div>
              </div>
            </div>
      
            <div class="col-md-3" style="float:left">
              <div class="card mb-2">
                <img class="card-img-top"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Jon Vargas Fischera</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  
                </div>
              </div>
            </div>
      
            <div class="col-md-3" style="float:left">
              <div class="card mb-2">
                <img class="card-img-top"
                  src="../assets/dinalba.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Dinalba Navas</h4>
                  <p class="card-text">Estudiante de Ingenieria de Sistemas de la Universidad Metropolitana de Venezuela, se le facilita el aprendizaje de lenguaje ensamblador, es muy paciente y apasionada con todo lo que hace, le gusta la ciencia y la programacio.</p>
                  
                </div>
              </div>
            </div>
            
             <div class="col-md-3" style="float:left">
             <div class="card mb-2">
                <img class="card-img-top"
                  src="../assets/unimet.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Kevin Han</h4>
                  <p class="card-text">Estudiante de Ingenieria de Sistemas de la Universidad Metropolitana de Venezuela,actualmente aprendiendo las bases de la programacion y sus componentes,me gusta descubrir tecnologias innovadoras el cual pueda facilitar el uso de la vida y los trabajos.</p>
                  
                </div>
              </div>
            </div>
      
          </div>
          <!--/.First slide-->
      
          <!--Second slide-->
          <div class="carousel-item">
      
            <div class="col-md-3" style="float:left">
              <div class="card mb-2">
                <img class="card-img-top"
                  src="../assets/mariav.webp" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Maria Valentina</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  
                </div>
              </div>
            </div>
      

      
          </div>
          <!--/.Second slide-->
      
         
      
        </div>
        <!--/.Slides-->
      
      </div>


      <app-footer></app-footer>



</section>

