@import '../../styles/variables.scss';

.the-team{
    margin: 10vh 10vh 10vh 10vh;
    background-color: $light;
    height: 50vh;
    padding: 3vh;
    border-radius: 20px;
    color: $blueProject;
    
    .card-text{
        color: black;
    }
}

.h1{
    color: $blueProject;
    padding-top: 5%;
}

.footer{
    justify-content: center;
    padding-top: 15%;
}
