@import '../../styles/variables.scss';

.the-service{
    margin-top: 80px;
    background-color: $lightShadow;
    border-radius: 20px;
    height: auto;
}

h1{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 5vh;
    font-weight: bold;
    color:$blueProject;
    text-align: center;
}

.carousel-indicators{
    position: static;
    margin: 0;
    padding: 0;
    width: 100vw;
    background: $blueProject;
}

h4{
    color:$blueProject; 
}
