<app-navbar></app-navbar>

<section class="the-service"> 

    <div>
        <h1 class="display-1">Conoce nuestros servicios</h1>
    </div>



    

    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

        <!--Controls-->
        <div class="controls-top">
          <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
          <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
              class="fas fa-chevron-right"></i></a>
        </div>
        <!--/.Controls-->
      
        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
          <li data-target="#multi-item-example" data-slide-to="1"></li>
          
        </ol>
        <!--/.Indicators-->
      
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
      
          <!--First slide-->
          <div class="carousel-item active">
      
            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                  <img class="card-img-top"
                    src="../assets/pinta.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Pintado</h4>
                    <p class="card-text">Elige este servicio para brindarle a su carro el mejor color de pintura que se puede ofrecer para el cuidado de su vehiculo al color de su gusto.</p>
                    
                  </div>
                </div>
              </div>
      
            <div class="col-md-3" style="float:left">
              <div class="card mb-2">
                <img class="card-img-top"
                  src="../assets/alinear.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Alineacion</h4>
                  <p class="card-text">Elige este servicio para alinear tu vehiculo para arreglar la alineacion de tus ruedas y llantas para que estas puedan trabajar de forma pararela.</p>
                  
                </div>
              </div>
            </div>
      
            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                  <img class="card-img-top"
                    src="../assets/chequeo.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Chequeo y Reparacion</h4>
                    <p class="card-text">Elige este servicio para que se pueda chequear los posibles problemas que tenga su vehiculo y poder arreglar esos problemas menores que puedan existir.</p>
                    
                  </div>
                </div>
              </div>
            
              <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                  <img class="card-img-top"
                    src="../assets/inyec.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Limpieza de inyectores</h4>
                    <p class="card-text">Elige este servicio para limpiar los inyectores de combustible de su vehiculo para el mejor funcionamiento en la potencia.</p>
                    
                  </div>
                </div>
              </div>
      
          </div>
          <!--/.First slide-->
      
          <!--Second slide-->
          <div class="carousel-item">
      
            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                  <img class="card-img-top"
                    src="../assets/refri.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Limpieza del sistema de Refrigeracion</h4>
                    <p class="card-text">Elige este servicio para que se limpie el sistema de refrigeracion debido a que el 40% de los problemas del motor se debe a la falta de mantenimiento de esta.</p>
                    
                  </div>
                </div>
              </div>

              <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                  <img class="card-img-top"
                    src="../assets/freno.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Cambio de liquido de frenos</h4>
                    <p class="card-text">Elige este servicio para que nosotros cambiemos el liquido de los frenos , esto ademas de ser parte importante para la seguridad y el funcionamiento del carro se debe cambiar cada cierto tiempo.</p>
                    
                  </div>
                </div>
              </div>

              <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                  <img class="card-img-top"
                    src="../assets/transmi.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Cambiar aceite de transmision</h4>
                    <p class="card-text">Elige este servicio para el mantenimiento de su vehiculo para cambiar al aceite necesario que requiere el vehiculo para un optimo y buen funcionamiento.</p>
                    
                  </div>
                </div>
              </div>

              <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                  <img class="card-img-top"
                    src="../assets/engranajes.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Cambio de lubricante para engranajes</h4>
                    <p class="card-text">Elige este servicio para lubricar los engranajes y aumentar la vida util del vehiculo al remorcar los objetos, ademas de ayudar a su resistencia y aumentar su ahorro de combustible.</p>
                    
                  </div>
                </div>
              </div>
      

      
          </div>
          <!--/.Second slide-->
      
         
      
        </div>
        <!--/.Slides-->
      
      </div>




      <app-footer></app-footer>

</section>
