@import '../../styles/variables.scss';

.the-team{
    margin: 10vh 10vh 10vh 10vh;
    background-color: $light;
    height: 50vh;
    padding: 3vh;
    border-radius: 20px;
}

h1{
    color:$blueProject;
}

h4{
    color:$blueProject; 
}