<app-navbar></app-navbar>
<section>

    
    <div class="contain">

        <h1 class="display-1">Contacto</h1>

        <div class="row">
            <div class="mapa column">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7847.2522657991985!2d-66.81838617352156!3d10.45121287103277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2a5800ea3655a5%3A0x7da9e772f2feda80!2sCementerio%20Del%20Este!5e0!3m2!1ses-419!2sve!4v1616874199298!5m2!1ses-419!2sve" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div class="ctext column">
                <h1>No dejes de preguntar!</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus nisi ducimus assumenda ratione autem minus voluptates corporis iusto mollitia nihil et fuga inventore, quo quisquam. Adipisci pariatur vero doloribus obcaecati.</p>
            </div>

        </div>


        <div class="redes_sociales">
            <a title="facebook" href="https://www.facebook.com"><img src="../assets/facebook.png"alt="" class='icon' width="100rem" height="100px" target="blank"></a>
            <a title="twitter" href="https://twitter.com/?lang=es"><img src="../assets/twitter.png"alt="" class='icon' width="100rem" height="100px" target="blank"></a>
            <a title="instagram" href="https://www.instagram.com/kuanghua_laurbina/"><img src="../assets/instagram.png"alt="" class='icon' width="100rem" height="100px" target="blank"></a>
            <a title="whatsapp" href="https://wa.me/+584123902514"><img src="../assets/whatsapp.png" alt="" class='icon' width="100rem" height="100px" target="blank"></a>
            <a title="linked-in" href="https://www.linkedin.com/login/es"><img src="../assets/linkedin.png"alt="" class='icon' width="100rem" height="100px" target="blank"></a>
            <a title="e-mail" href="https://www.google.com/intl/es-419/gmail/about/"><img src="../assets/email.png"alt="" class='icon' width="100rem" height="100px" target="blank"></a>
        </div>

    </div>

</section>

