@import '../../styles/variables.scss';

.mapa
{
    height: auto;
}

.display-1
{
    color: $blueProject;
}

.contain
{
    margin: 10vh 10vh 10vh 10vh;
    background-color: $light;
    height: fit-content;
    padding: 3vh;
    border-radius: 20px;
    
}