<app-navbar></app-navbar>
<section>

    
    <div class="container-fluid contain">
        <h1 class="display-1">Contacto</h1>

        <div class="mapa-caja">
            <img src="/assets/mapa.jpg" alt="" class = mapa>
            <p class="text-left">Caracas, Venezuela. Municipio Miranda la Urbina Calle 9. En frente del Banco Occidental de descuento y al lado del Banco Mercantil.</p>
            
        </div>

        <div class="redes_sociales">
            <a title="twitter" href="https://twitter.com/?lang=es"><img src="../assets/twitter.png"alt="" class=twitter width="100rem" height="100px" target="blank"></a>
            <a title="instagram" href="https://www.instagram.com/kuanghua_laurbina/"><img src="../assets/instagram.png"alt="" class=instagram width="100rem" height="100px" target="blank"></a>
            <a title="whatsapp" href="https://wa.me/+584123902514"><img src="../assets/whatsapp.png" alt="" class=whatsapp width="100rem" height="100px" target="blank"></a>
            <a title="twitter" href="https://www.google.com/intl/es-419/gmail/about/"><img src="../assets/email.png"alt="" class=twitter width="100rem" height="100px" target="blank"></a>
        </div>

       
        
    </div>

</section>

