<app-navbar></app-navbar>
<section class="big-box">
    <div class="botones">
        <button type="button" href="" data-toggle="modal" class="btn btn-primary" >Perfil</button>
        <button type="button" href="" data-toggle="modal" class="btn btn-primary" >Citas</button>
        <button type="button" href="" data-toggle="modal" class="btn btn-primary" >Gestor de ordenes</button>
        <button type="button" href="" data-toggle="modal" class="btn btn-primary" >Reportes</button>
        <button type="button" href="" data-toggle="modal" class="btn btn-primary" >Gestor de citas</button>
        
    </div>
    
    <section class="gestor">

        <div>
            <h4 class="display-1">Gestor de ordenes</h4>
        </div>

        <div class="card-body">
            <h5 class="card-title">Orden #49178</h5>
            <p class="card-text">Modelo: Toyota gt4500
            </p>
            <p class="card-title">placa: 890 MGH</p>
            <p class="card-text">Comentario: Excelente =)</p>
        </div>

    </section>
    

</section>

<app-footer></app-footer>