<app-navbar></app-navbar>

<section class="big-box" *ngIf="!qrResultString">

    <h1>Buscador de Órdenes de Reparación</h1>
      
    <!-- pueden cambiar el css pero esa linea es caca NO SE MODIFICA -->
    <zxing-scanner #scanner class="test-class" start="true" [device]="selectedDevice" (scanSuccess)="handleQrCodeResult($event)"></zxing-scanner>

    <!-- este bloque también es caca -->
    
      <div class="form-group">
        <p>Si no se activa el acceso al escáner a través de la cámara, por favor ingrese el ID de la cita directamente:</p>
        <input type="text" placeholder="ID de la orden" #Aid required ngModel>
        <div class="btne">
          <input type="button" value="Buscar" (click)="InputAid(Aid.value)">
        </div>        
      </div>

</section>

<section class="big-box" *ngIf="qrResultString">
    <app-manage-appointment [appointmentuid]="this.qrResultString"></app-manage-appointment>
</section>

<app-footer></app-footer>