@import "../../styles/variables.scss";

.big-box {
  margin-top: 80px;
  background-color: $lightShadow;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;


  h1 {
      color: $blueProject;
      text-align: center;
      font-weight: bold;
      margin-top: 10px;
  }

  .form-group {
    position: absolute;
    background: $light;
    color: $blueProject;
    padding: 10px;
    border:solid;
    border-color: $blueProject;
    border-radius: 10px;
    margin-top: 170px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
     input{
         margin: 10px;         
     }

     .btne{

        text-align: center;
        input{
            background-color: $blueProject;
            color: $light;
            border:none;
            height: 30px;
            width:100px;
            border-radius: 5px;

            &:hover{
                background-color: $blueProjectIntense;
            }
        }
    }
  }
}
