<app-navbar></app-navbar>

<section class="big-box" *ngIf="!qrResultString">

      
      
    <!-- pueden cambiar el css pero esa linea es caca NO SE MODIFICA -->
    <zxing-scanner #scanner class="test-class" start="true" [device]="selectedDevice" (scanSuccess)="handleQrCodeResult($event)"></zxing-scanner>

    <!-- este bloque también es caca -->
      <div class="form-group">
        <input type="text" placeholder="appointment id" #Aid required ngModel>
        <input type="button" value="Enviar" (click)="InputAid(Aid.value)">
      </div>

</section>

<section class="big-box" *ngIf="qrResultString">
    <app-manage-appointment [appointmentuid]="this.qrResultString"></app-manage-appointment>
</section>

<app-footer></app-footer>