<section>

    <div class="card">
        
        <div class="card-body"> 

            <h3>Panel del Gerente

                <button type="button" class="btn btn-success btn-manager" *ngIf = "this.DateShow != 'responded'" (click)="this.DateShow = 'responded'">Citas Respondidas</button>
                <button type="button" class="btn btn-success btn-manager" *ngIf = "this.DateShow != 'requested'" (click)="this.DateShow = 'requested'">Citas pedidas</button>
                <button type="button" class="btn btn-success btn-manager" *ngIf = "this.DateShow != 'accepted'" (click)="this.DateShow = 'accepted'">Citas aceptadas</button>
                <button type="button" class="btn btn-success btn-manager" *ngIf = "this.DateShow != 'rejected'" (click)="this.DateShow = 'rejected'">Citas rechazadas</button>
                <button type="button" class="btn btn-success btn-manager" *ngIf = "this.DateShow != 'repaired'" (click)="this.DateShow = 'repaired'">Ordenes reparadas</button>
    
            </h3>       

            <div class= 'lista' *ngFor="let appointment of  Appointments">

                <div *ngIf="appointment.status == 'requested' && this.DateShow == 'requested' && managerID != appointment.UserUid">'
                    <div class='card-header'>
                        <h2>Usuario: {{ UserName(appointment.UserUid) }}</h2>

                    </div>
                    <div class='card-body'><h4>Estado:</h4> {{appointment.status}}</div>
                    <div class='card-body'>
                        <h4>Nota:</h4> {{appointment.Note}}
                        <div class="form-group">
                            <input type="datetime-local" class="form-control" required="required" #Date required ngModel>
                            <input type="button" class="btn btn-primary pull-right" value="Enviar fecha" (click)="setDateProposal(appointment.uid,Date.value)">
                        </div>
                    </div>
                </div>

                <div *ngIf="appointment.status == 'responded' && this.DateShow == 'responded' && managerID != appointment.UserUid">'
                    <div class='card-header'>
                        <h2>Usuario: {{ UserName(appointment.UserUid) }}</h2>

                    </div>
                    <div class='card-body'><h4>Estado:</h4> {{appointment.status}}</div>
                    <div class='card-body'>
                        <h4>Nota:</h4> {{appointment.Note}}
                    </div>
                </div>

                <div *ngIf="appointment.status == 'accepted' && this.DateShow == 'accepted' && managerID != appointment.UserUid">'
                    <div class='card-header'>
                        <h2>Usuario: {{ UserName(appointment.UserUid) }}</h2>

                    </div>
                    <div class='card-body'><h4>Estado:</h4> {{appointment.status}}</div>
                    <div class='card-body'>
                        <h4>Nota:</h4> {{appointment.Note}}
                    </div>
                </div>

                <div *ngIf="appointment.status == 'rejected' && this.DateShow == 'rejected' && managerID != appointment.UserUid">'
                    <div class='card-header'>
                        <h2>Usuario: {{ UserName(appointment.UserUid) }}</h2>

                    </div>
                    <div class='card-body'><h4>Estado:</h4> {{appointment.status}}</div>
                    <div class='card-body'>
                        <h4>Nota:</h4> {{appointment.Note}}
                    </div>
                </div>

                <div *ngIf="appointment.Completed == 'repaired' && this.DateShow == 'repaired' && managerID != appointment.UserUid">'
                    <div class='card-header'>
                        <h2>Usuario: {{ UserName(appointment.UserUid) }}</h2>
                    </div>
                    <div class='card-body'><h4>Estado:</h4> {{appointment.status}}</div>
                    <div class='card-body'>
                        <h4>Nota:</h4> {{appointment.Note}}
                        <input type="button" value="Terminar" (click)="Terminate(appointment.uid)"/>
                    </div>
                </div>

            </div>
        </div>     

        <div class="card-footer">
            <app-footer></app-footer>
        </div>
    </div>

</section>

<ng-template #Disabled class="disabled">

</ng-template>