@import "../../styles/variables.scss";
//https://mdbootstrap.com/docs/b4/jquery/modals/forms/

.header {
  font-size: 10vh;
  border: none;
  background: none;
  text-align: center;
}
.card {
  
  background-color: $lightShadow;
  border: none;
  margin-top: 10vh;

  .card-header{
    margin-top: 10vh;
    .nameheader {    
        color: $blueProject;
      }
  }  
.disablebtn{
  display: inline-block;
  margin-right: 0;
  right:0;
}

.disabled{
  background-color: rgb(59, 59, 59);
  color: aquamarine;
}


  h2 {
    // margin-left: 10vw;
    color: $blueProject;
    font-weight: bold;
  }

  .user-data {
    margin-top: 20px;
    margin-left: 30px;
    .special {
      margin-left: 10px;
      color: $blueProject;
      font-weight: bold;
    }
  }

  .modify-btn {
    text-align: center;

    .userbtn {
      max-width: fit-content;
      display: inline-block;
    }

    .btn-primary {
      background-color: $blueProject;
      border-radius: 5px;
      border: none;
      margin: 5px;
    }
  }

  h3{
    background: $blueProject;
    padding: 10px;
    border-radius: 17px;
    color: #f7f7f7;
    font-size: 2vw;
}

  .lista{
    background: #8d8bf552;
    margin-bottom: 3vh;
    border-radius: 20px;

    .card-header{
        color: $blueProject;  
        border-color: $blueProject;
        margin:0;
    }
  }

  .card-footer{
    border: none;
    height: 40px;
    background: none;
  }

  
}


.container {
  width: 100%;
}

.btn-manager {
  margin: .2vh 1vw;
}