@import "../../styles/variables.scss";
//https://mdbootstrap.com/docs/b4/jquery/modals/forms/

.header {
  font-size: 10vh;
  border: none;
  background: none;
  text-align: center;
}
.card {
  background: none;
  border: none;
  margin-top: 10vh;  

  .disablebtn {
    display: inline-block;
    margin-right: 0;
    right: 0;
  }

  h2 {
    color: $blueProject;
    font-weight: bold;
  }

  .user-data {
    margin-top: 20px;
    margin-left: 30px;
    .special {
      margin-left: 10px;
      color: $blueProject;
      font-weight: bold;
    }
  }

  .modify-btn {
    text-align: center;

    .userbtn {
      max-width: fit-content;
      display: inline-block;
    }

    .btn-primary {
      background-color: $blueProject;
      border-radius: 5px;
      border: none;
      margin: 5px;
    }
  }

  h3 {
    background-color: $blueProject;
    padding: 10px;
    border-radius: 17px;
    color: $light;
    font-weight: bold;
    font-size: 25px;
    text-align: center;

    p{
      align-self: center;
      margin: 0;
    }

    button{
      background-color: $lightBlue;
      color: $blueProject;
      border: solid;
      border-color: $blueProject;
      border-radius: 10px;
      font-weight: bold;
      width: 180px;
      margin: 5px;

      &:hover{
        background-color: $greenProjectIntense;
      }
    }
  }

  .lista {
    background-color: $lightShadow;
    margin-bottom: 3vh;
    border-radius: 20px;

    .card-header {
      background: none;
      color: $blueProject;
      margin: 0;      
      border: solid;      
      border-color: $blueProject;
      border-bottom: none;

      p{
        font-size: 20px;
        margin: 0;
        font-weight: bold;
      }
    }

    .card-body{
      border: solid;      
      border-color: $blueProject;

      .special{
        color: $blueProject;
        font-weight: bold;
      }

      .form-group{
        margin: 0;
        padding: 0;

        .btn{
          margin-top: 10px;
          background-color: $blueProject;
          color: $light;
          border: none;
          width: 100%;
        }
      }
    }

  }

  .card-footer {
    border: none;
    height: 40px;
    background: none;
  }
}

.container {
  width: 100%;
}

.btn-manager {
  margin: 0.2vh 1vw;
}
