<section>

    <div class="card">
        <div class="card-header header">Gestión de roles de usuarios.</div>
    </div>
    <div class="card">
        <div class="card-body"> 
            <p class = "title">Usuarios registrados</p>             
             <div class= 'lista' *ngFor="let user of Users">

                <div *ngIf="cuser.uid != user.uid; else Disabled">
                    <div class='card-header'><p>{{user.email}}</p></div>
                    <div class='card-body'>
                        <p><span class="special">ID:</span> {{user.uid}}</p>
                        <p><span class="special">Nombre:</span>{{user.displayName}}</p>
                        <p><span class="special">Cargo Actual:</span>{{user.power}} </p>  
                    </div>
                    <div class='card-footer'>
                        <button type="button" class="btn btn-danger disablebtn" (click)="setRole(user.uid,'user')" *ngIf="user.power != 'user' ">Asignar usuario</button>
                        <button type="button" class="btn btn-danger disablebtn" (click)="setRole(user.uid,'mechanic')" *ngIf="user.power != 'mechanic' ">Asignar mecánico</button>
                        <button type="button" class="btn btn-danger disablebtn" (click)="setRole(user.uid,'manager')" *ngIf="user.power != 'manager' ">Asignar gerente</button>
                        <button type="button" class="btn btn-danger disablebtn" (click)="setRole(user.uid,'sudo')" *ngIf="user.power != 'sudo' ">Asignar administrador</button>
                    </div>
                </div>

            </div>

        </div>  
        <div class="card-footer">
            <app-footer></app-footer>
        </div>
    </div>
</section>

<ng-template #Disabled class="disabled">

</ng-template>