<app-navbar></app-navbar>
<section>

    <div class="card">
        <div class="card-header header">Manejo de roles de usuarios.</div>
    </div>
    <div class="card">
        <div class="card-body"> 
            <h3>Usuarios registrados</h3>             
             <div class= 'lista' *ngFor="let user of Users">

                <div *ngIf="cuser.uid != user.uid; else Disabled">'
                    <div class='card-header'><h1>{{user.email}}</h1></div>
                    <div class='card-body'>
                        <h4>ID: {{user.uid}}</h4>
                        <h4>Nombre: {{user.displayName}</h4>
                        <h4>Cargo: {{user.power}} </h4>  
                    </div>
                    <div class='card-footer'>
                        <button type="button" class="btn btn-danger disablebtn" (click)="setRole(user.uid,'user')" *ngIf="user.power != 'user' ">Asignar usuario</button>
                        <button type="button" class="btn btn-danger disablebtn" (click)="setRole(user.uid,'mechanic')" *ngIf="user.power != 'mechanic' ">Asignar mecánico</button>
                        <button type="button" class="btn btn-danger disablebtn" (click)="setRole(user.uid,'manager')" *ngIf="user.power != 'manager' ">Asignar gerente</button>
                        <button type="button" class="btn btn-danger disablebtn" (click)="setRole(user.uid,'sudo')" *ngIf="user.power != 'sudo' ">Asignar administrador</button>
                    </div>
                </div>

            </div>

        </div>  
        <div class="card-footer">
            <app-footer></app-footer>
        </div>
    </div>
</section>

<ng-template #Disabled class="disabled">

</ng-template>