@import "../../styles/variables.scss";
//https://mdbootstrap.com/docs/b4/jquery/modals/forms/

.header {
  font-size: 10vh;
  border: none;
  background: none;
  text-align: center;
}
.card {
  background-color: $lightShadow;
  border: none;

  .card-header {
    margin-top: 10vh;
    .nameheader {
      color: $blueProject;
    }
  }

  .card-body {
display: block;
align-content: center;

    .title {
      color: $blueProject;
      font-size: 25px;
      text-align: center;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
  .disablebtn {
    display: inline-block;
    background-color: $lightBlue;
    color: $blueProject;
    font-weight: bold;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 200px;
    right: 0;
    border: none;

    &:hover {
      background-color: $greenProjectIntense;
    }
  }

  .disabled {
    background-color: rgb(59, 59, 59);
    color: aquamarine;
  }

  h2 {
    margin-left: 10vw;
    color: $blueProject;
    font-weight: bold;
  }

  .user-data {
    margin-top: 20px;
    margin-left: 30px;
    .special {
      margin-left: 10px;
      color: $blueProject;
      font-weight: bold;
    }
  }

  .modify-btn {
    text-align: center;

    .userbtn {
      max-width: fit-content;
      display: inline-block;
    }

    .btn-primary {
      background-color: $blueProject;
      border-radius: 5px;
      border: none;
      margin: 5px;
    }
  }

  .card-footer {
    border: none;
    height: 60px;
    background: none;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
  }

  .card-body {
    padding-bottom: 0;

    p {
      font-size: 15px;
      text-align: left;
      margin: 0;

      .special {
        color: $blueProject;
        font-weight: bold;
        margin-right: 5px;
      }
    }

    .lista {
      background: $light;
      margin-right: 20px;
      border: solid;
      border-radius: 10px;
      border-color: $blueProject;
      margin-bottom: 5px;      
      width: 300px;    
      height: 350px;  
      float: left;

      .card-header {
        background: $light;
        color: $blueProject;
        margin-left: 30px;
        margin-right: 30px;
        border-color: $blueProject;
        margin: 0;

        p {
          font-size: 20px;
          text-align: left;
          font-weight: bold;
          margin: 0;
        }
      }
    }
  }
}

.container {
  width: 100%;
}
