  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/home']">
      <img src="../../../assets/logomotor.svg" width="100" height="42" alt="">
    </a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/servicio']" >Servicio<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/nosotros']">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contacto']">Contacto</a>
        </li>

        <ng-container *ngIf='user'>   
          <li class="nav-item" >
            <a class="nav-link special" [routerLink]="['/userhome']">Perfil</a>
          </li>
          <li class="nav-item" *ngIf="isSudo()">
            <a class="nav-link special" [routerLink]="['/sudo']">Sudo</a>
          </li>
          <li class="nav-item" *ngIf="isMechanic()">
            <a class="nav-link special" [routerLink]="['/mechanichome']">Panel Mecánico</a>
          </li>
          <li class="nav-item" *ngIf="isManager()">
            <a class="nav-link special" [routerLink]="['/managerdates']">Panel Gerente</a>
          </li>
        </ng-container>        

      </ul>
      <!-- <button type="button" href="#loginModal" data-toggle="modal" class="btn btn-primary">Login</button> -->

    </div>

    <button type="button" href="#loginModal" data-toggle="modal" class="btn btn-primary" *ngIf='!user'>Login</button>
    <button type="button" href="#registerModal" data-toggle="modal" class="btn btn-primary" *ngIf='!user'>Register</button>
    <button type="button"  data-toggle="modal" class="btn btn-primary" *ngIf='user' (click)='ngAuthService.SignOut()'>Sign Out</button>
    
  </nav>

  <div id="loginModal" class="modal fade">
    <app-login></app-login>
  </div>

  <div id="registerModal" class="modal fade">
    <app-register></app-register>
  </div>