@import "../../styles/variables.scss"; 

.navbar{
    position:fixed;
    width:100%;
}

.nav-link{
    font-size: 2vh;
    &:hover{
        color: $blueProject !important;
        font-weight: bold;
    }
}

.btn-primary{
    background-color: $blueProject;
    border-radius: 5px;
    border: none;
    margin: 5px;
}

////

body {
    font-family: 'Varela Round', sans-serif;
}
.modal-login {
    width: 320px;
    margin: 30px auto;
}
.modal-login .modal-content {
    border-radius: 1px;
    border: none;
}
.modal-login .modal-header {
    position: relative;
    justify-content: center;
    background: #f2f2f2;
}
.modal-login .modal-body {
    padding: 30px;
}
.modal-login .modal-footer {
    background: #f2f2f2;
}
.modal-login h4 {
    text-align: center;
    font-size: 26px;
}
.modal-login label {
    font-weight: normal;
    font-size: 13px;
}
.modal-login .form-control, .modal-login .btn {
    min-height: 38px;
    border-radius: 2px; 
}
.modal-login .hint-text {
    text-align: center;
}
.modal-login .close {
    position: absolute;
    top: 15px;
    right: 15px;
}
.modal-login .checkbox-inline {
    margin-top: 12px;
}
.modal-login input[type="checkbox"]{
    margin-top: 2px;
}
.modal-login .btn {
    min-width: 50px;
    background-color: $blueProject;
    border: none;
    border-radius: 5px;
    line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
    background: #248bd0;
}
.modal-login .hint-text a {
    color: #999;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}