<div class = "background">
            
    <div class = 'topnavbar'>
  
      <div class = "logo-img"> <img src="" alt=""> 
        <img src = "/assets/logo.jpg">
      </div>
    
      <ul class= 'navbar-ul'>
        <li> <a [routerLink]="['/home']" class = "opcion">Home</a> </li>

        <li> <a [routerLink]="['/servicio']" class = "opcion">Servicio</a> </li>
        <li> <a [routerLink]="['/nosotros']" class = "opcion">Nosotros</a> </li>
        <li> <a [routerLink]="['/contacto']" class = "opcion">Contacto</a> </li>
    
        <li> <a href="" class = "login-btn">sign in</a> </li>
      </ul>
    
  </div>
  
  <!--<div class="landing">
    <img src="/assets/imagenPrincipal.jpg" alt="" class = landing-bg>
  </div>-->
  </div>
  