@import "../../styles/variables.scss"; 

.landing{
    height: 40%;
    display: flex;
    justify-content: space-around;
    }

.background{
    background-color:#9e9d9d;
    height: 2500px;
    margin: 0px 0px 0px 0px;
    padding-top: 0px;
        
    }
    
.topnavbar {
    background-color: white;
    display: flexbox;
    position: fixed;
    align-items: center;
    text-align: right;
    justify-content: space-between;
    
    width: 100%;
    
    display: flex;
    }

.topnavbar .navbar-ul li a {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*color: rgb(19, 99, 204);*/
    margin: 0px 50px 0px 50px;
    text-decoration: none;
    /* color: #1F3574;  command + k + c */
    text-transform: uppercase;

    }

.topnavbar .navbar-ul li{
    list-style-type: none;
    display: inline;
    }

.opcion{
    color: $blueProject;
    size: 12px;
    &:hover{
        font-size: 18px;
        color: $lightBlue;
        font-weight: bolder;
    }
}

.login-btn {

    display: flexbox;
    color: azure;
    font-size: 12px;

    background-color: #1F3574;

    padding: 5px 15px;
    border-radius: 10px;

    &:hover{
        background-color: $greenProject;
        font-weight: bolder;
        color: $blueProject;
    }
    
}   