@import "../../styles/variables.scss"; 

.navbar{
    position:fixed;
    top: 0;
    width:100%;
    z-index: 2;
}

.nav-link{
    font-size: 2.5vh;
    color: $blueProject !important;
    margin-left: 2vw;

    &.special{
        color: $lightBlue !important;
    }

    &:hover{        
        font-weight: bold;
    }

    
}

.btn-primary{
    background-color: $blueProject;
    border-radius: 5px;
    border: none;
    margin: 5px;
    &:hover{
        background-color: $light;        
        border: solid;        
        border-color: $blueProject;
        color: $blueProject;    
    }
}



////
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(31,53,116)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: $blueProject;
  } 