@import "../../styles/variables.scss";
////https://www.remotestack.io/angular-firebase-authentication-example-tutorial/

.close {
  color: #fff;
  opacity: 1;
  position: absolute;
  top: 15px;
  right: 15px;
}

.modal-content {
  border-radius: 15px;
  border: none;

  .modal-header {
    position: relative;
    justify-content: center;
    background: $blueProject;
    color: white;

    h4 {
      text-align: center;
      font-size: 20px;
    }
  }

  .modal-body {
    padding: 30px;
    align-content: center;

    label {
      margin-top: 10px;
      color: $blueProject;
      font-weight: bold;
      font-size: 15px;
    }
    .imagen {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 10px;
        margin-right: 10px;

      img {
        width: 125px;
      }

    }

    .form-control {
      min-height: 38px;
      border-radius: 2px;
    }

    .modify-btn{
      
      margin-top: 20px;

      button {                
        min-width: 100%;
        background-color: $blueProject;
        border: none;
        border-radius: 5px;
        line-height: normal;
  
        &:hover {
          background: $blueProjectIntense;
        }
      }
    }
    
  }
}
