<div class="modal-dialog modal-addvehicle">
  <div class="modal-content">
    <div class="modal-header" method="post">
      <h4 class="modal-title">Actualización de los Datos de Perfil</h4>
      <button
        id="modalclosebutton"
        type="button"
        class="close"
        data-dismiss="modal"
        aria-hidden="true"
      >
        &times;
      </button>
    </div>

    <div class="modal-body">
      <form method="POST">
        <div class="form-group">
          <label>Nombre de Usuario</label>
          <input
            type="text"
            class="form-control"
            placeholder="Filimeno Amerindi"
            required="true"
            #displayName
          />
          <label>Foto de Perfil</label>
          <div class="imagen">
            <img
              src="{{ downloadURL | async }}"
              class="img-fluid rounded-circle img-thumbnail"
            />
            <input type="file" (change)="uploadFile($event)" />
            Subiendo la imagen: {{ uploadPercent | async }} %
          </div>

          <div class="modify-btn">
            <button
              type="submit"
              class="btn btn-primary pull-right"
              value="Update"
              data-dismiss="modal"
              (click)="updateUser(displayName.value)"
            >
              Guardar cambios
            </button>            
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
