<app-navbar></app-navbar>
<section class="big-box">
    <div class="botones">
        <button type="button" href="" data-toggle="modal" class="btn btn-primary" >Gestor de citas</button>
        <button type="button" [routerLink]="['/ordenes']"  data-toggle="modal" class="btn btn-primary" >Gestor de ordenes</button>
        <button type="button" [routerLink]="['/reportes']" data-toggle="modal" class="btn btn-primary" >Reportes</button>
        
    </div>
    
    <section class="gestor">

        <div>
            <h4 class="display-1">Gestor de citas</h4>
            <h6 class="display-1">Todas las citas</h6>
        </div>

        <div class="card-body">
            <h5 class="card-title">21/04/2020</h5>
            <p class="card-text">Estatus: Completada
            </p>
        </div>
        
        <div class="card-body">
            <h5 class="card-title">21/04/2020</h5>
            <p class="card-text">Estatus: Completada
            </p>
        </div>
        
    </section>
    

</section>

<app-footer></app-footer>
