.topnavbar {
    
    display: flexbox;
    position: fixed;
    align-items: center;
    text-align: right;
    justify-content: space-between;
    
    width: 100%;
    
    display: flex;
    }

.topnavbar .navbar-ul li a {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*color: rgb(19, 99, 204);*/
    margin: 0px 50px 0px 50px;
    text-decoration: none;
    /* color: #1F3574;  command + k + c */
    text-transform: uppercase;


    }

.topnavbar .navbar-ul li{
    list-style-type: none;
    display: inline;
    }

.opcion{
    color:#1F3574;
    size: 12px;
    }

.login-btn {

    display: flexbox;
    color: azure;
    font-size: 12px;

    /*background-color: rgb(19, 99, 204);*/
    background-color: #1F3574;

    padding: 5px 15px;
    /*<!--color: azure;*/
    /* #padding: 5px 15px;
    border-radius: 20px; */
    border-radius: 10px;
    
    }   