@import "../../styles/variables.scss";
//https://mdbootstrap.com/docs/b4/jquery/modals/forms/

.header {
  font-size: 6vw;
  border: none;
  background: none;
  text-align: center;
}

h2{
  margin-top: 10px;
}
.card {
  background-color: $lightShadow;
  border: none;

  .header {
    margin-top: 80px;
    .nameheader {
      color: $blueProject;
    }
  }

  .disablebtn {
    display: inline-block;
    margin-right: 0;
    right: 0;
  }

  .disabled {
    background-color: rgb(59, 59, 59);
    color: aquamarine;
  }

  h2 {
    margin-left: 10vw;
    color: $blueProject;
    font-weight: bold;
  }

  .user-data {
    margin-top: 20px;
    margin-left: 30px;
    .special {
      margin-left: 10px;
      color: $blueProject;
      font-weight: bold;
    }
  }

  .modify-btn {
    text-align: center;

    .userbtn {
      max-width: fit-content;
      display: inline-block;
    }

    .btn-primary {
      background-color: $blueProject;
      border-radius: 5px;
      border: none;
      margin: 5px;

      &:hover {
        background-color: $blueProjectIntense;
      }
    }
  }

  h3 {
    font-size: 20px;
    background: $blueProject;
    padding: 10px;
    color: $light;
    margin-left: 20px;
    margin-right: 20px;
  }

  .lista {
    background: $light; 

    .car-card {
      display: flex;
      align-items: center;
      align-content: center;
      
      
        .foto {
          align-self: center;
          float: right;
        }
      
      
      .card-header {
        background: $light;
        color: $blueProject;
        width:90vw;
        border: solid;
        border-color: $blueProject;
        font-size: 20px;
        font-weight: bold;
      }
      .card-footer {
        border: none;
        background: none;
        display: flex;
        flex-direction: column-reverse;

        button {
          background-color: $lightBlue;
          border-radius: 5px;
          border: none;
          margin: 5px;
          width: 100px;

          &:hover {
            background-color: $lightBlueIntense;
          }
        }
      }
    }


    .datecard {      
      width: 100%;


      .carta {        
        border-style: solid;
        border-color: $blueProject;
        margin: 10px;
        border-radius: 5px;  

        .card-header {
          font-size: 20px;
          width: 100%;
        }

        .card-body {
          display: flex;
          flex-direction: column;
          align-content: center;
          .special {
            color: $blueProject;
            font-weight: bold;
          }
        }

        .botones{
          display: flex;
          flex-direction: column;
          align-items: center;          
            button {
              margin-bottom: 10px;
              width: 97%;
              margin-left: 10px;
              margin-right: 10px;
              background-color: $blueProject;
              color: $light;
              font-weight: bold;             
              
              &:hover {
                background-color: $blueProjectIntense;
              }
            }
        }
      }
    }

    .actualizarCar{
      margin-top: 10px;
      border: solid;
      border-color: $blueProject;
      border-radius: 10px;      

      .modal-header{

        display: flex;
        align-items: center;
        background-color: $blueProject;
        color: $light;  

        button{
          background-color: $blueProject;
          border: none;
          color: $light;
          font-size: 30px;
        }
      }

      .modal-body{
        label{
          color: $blueProject;
          font-weight: bold;
        }

        .modify-btn{
          margin-top: 10px;        
        }
      }
    }
  }

  .card-body {
    h3 {
      font-weight: bold;
      text-align: center;
      display: wrap;      
      button {
        margin: 5px;
        background-color: $greenProjectIntense;
        color: $light;
        font-weight: bold;
        width: 200px;

        &:hover {
          background-color: $greenProject;
        }
      }

      .userbtn {
        background-color: $lightBlueIntense;
        color: $light;
        font-weight: bold;

        &:hover {
          background-color: $lightBlue;
        }
      }
    }
  }
}

.container {
  width: 100%;
}

:host zxing-scanner::ng-deep video {
  max-height: 50vh;
  object-fit: contain;
}
:host zxing-scanner::ng-deep {
  border-style: solid;
  border-color: #5d78ff;
}
