<section>

    <div class="card">
        <div class="card-header header">Bienvenido <span *ngIf='user.displayName' class='nameheader'>{{user.displayName}}!</span></div>
        <div class="card-body">
            <h2>Perfil</h2>
            <div class="user-data"><img src={{user.photoURL}} class="img-fluid rounded-circle img-thumbnail float-left" alt="Foto de Perfil"></div>
            <div class="user-data"><span class="special">Nombre de usuario:</span> {{user.displayName}}</div>
            <div class="user-data"><span class="special">Correo electrónico:</span> {{user.email}}</div>
        </div>
        <div class="modify-btn">
            <button type="button" href="#updateuserdata" data-toggle="modal" class="userbtn btn btn-primary">Modificar Datos de Perfil</button>
        </div>
        <!-- <button type="button"  (click)='test()' class="btn btn-primary">makeadmin</button> -->
    </div>
    <div class="card">
        <h2>Manejo de Vehiculos</h2>
        <div class="modify-btn">
            <button type="button" href="#addVehicleModal" data-toggle="modal" class="userbtn btn btn-primary">Agregar Vehículo</button>
        </div>   
        <div class="card-body"> 
            <h3>Vehiculos Registrados</h3>
           
            <div class= 'lista' *ngFor="let vehicle of Vehicles">

                <div *ngIf="vehicle.status == true; else Disabled">'
                    <div class='card-header'><h1>{{vehicle.name}}</h1></div>
                    <div class='card-body'>Marca: {{vehicle.marca}} Color: {{vehicle.color}} Placa: {{vehicle.placa}} Año: {{vehicle.year}} Fecha de registro: {{vehicle.DateRegistry.toDate() | date}}</div>
                    <div class='card-footer'><button type="button" class="btn btn-danger disablebtn" (click)="disableVehicle(vehicle.uid)">Disable</button></div>
                </div>

            </div>

        </div>
  
        <div class="card-footer">
            <app-footer></app-footer>
        </div>
    </div>

    <div class="card">
        <h2>Manejo de Citas</h2>

        <div class="modify-btn">
            <button type="button" href="#makeAppointment" data-toggle="modal" class="userbtn btn btn-primary">Pedir cita</button>
        </div>  

        <div class="card-body"> 
            <h3>Citas con fecha</h3>             
            <div class= 'lista' *ngFor="let appointment of  Appointments">

                <div *ngIf="appointment.status == 'responded' && appointment.UserUid == user.uid">'
                    <qrcode [qrdata]="getQRstring(appointment.uid)" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
                    <div class='card-header'><h1>{{ vehicleName(appointment.CarUid) }} Status: {{appointment.status}}</h1></div>
                    <div class='card-body'><h1>Fecha: {{appointment.Date.toDate() }}</h1></div>
                    <button type="button" class="btn btn-success" (click)="AcceptDate(appointment.uid)">Aceptar</button>
                    <button type="button" class="btn btn-danger" (click)="RejectDate(appointment.uid)">Rechazar</button>
                </div>

            </div>

        </div>

        <div class="card-body"> 
            <h3>Citas en espera de fecha</h3>             
            <div class= 'lista' >
                <div class= 'lista' *ngFor="let appointment of  Appointments ">

                    <div *ngIf="appointment.status == 'requested' && appointment.UserUid == user.uid">'
                        <div class='card-header'><h1>{{ vehicleName(appointment.CarUid) }} Status: {{appointment.status}}</h1></div>
                    </div>
    
                </div>

            </div>

        </div>

        <div class="card-body"> 
            <h3>Citas aceptadas</h3>             
            <div class= 'lista' >
                <div class= 'lista' *ngFor="let appointment of  Appointments ">

                    <div *ngIf="appointment.status == 'accepted' && appointment.UserUid == user.uid">'
                        <div class='card-header'><h1>{{ vehicleName(appointment.CarUid) }} Status: {{appointment.status}}</h1></div>
                        <div class='card-body'><h1>Fecha: {{appointment.Date.toDate() }}</h1></div>
                    </div>
    
                </div>

            </div>
        </div>

     

        <div class="card-footer">
            <app-footer></app-footer>
        </div>
    </div>

</section>

<div id="addVehicleModal" class="modal fade">
    <app-add-vehicle></app-add-vehicle>
</div>

<div id="updateuserdata" class="modal fade">
    <app-updatemodal></app-updatemodal>
</div>

<div id="makeAppointment" class="modal fade">
    <app-add-appointment [Vehicles]="Vehicles"></app-add-appointment>
</div>


<ng-template #Disabled class="disabled">

</ng-template>