@import "../../styles/variables.scss";
//https://mdbootstrap.com/docs/b4/jquery/modals/forms/

.header {
  font-size: 10vh;
  border: none;
  background: none;
  text-align: center;
}
.card {
  background-color: $lightShadow;
  border: none;

  .header {
    margin-top: 80px;
    .nameheader {
      color: $blueProject;
    }
  }

  .disablebtn {
    display: inline-block;
    margin-right: 0;
    right: 0;
  }

  .disabled {
    background-color: rgb(59, 59, 59);
    color: aquamarine;
  }

  h2 {
    margin-left: 10vw;
    color: $blueProject;
    font-weight: bold;
  }

  .user-data {
    margin-top: 20px;
    margin-left: 30px;
    .special {
      margin-left: 10px;
      color: $blueProject;
      font-weight: bold;
    }
  }

  .modify-btn {
    text-align: center;

    .userbtn {
      max-width: fit-content;
      display: inline-block;
    }

    .btn-primary {
      background-color: $blueProject;
      border-radius: 5px;
      border: none;
      margin: 5px;

      &:hover {
        background-color: $blueProjectIntense;
      }
    }
  }

  h3 {
    font-size: 20px;
    background: $blueProject;
    padding: 10px;
    color: $light;
    margin-left: 20px;
    margin-right: 20px;
  }

  .lista {
    background: $light;

    .car-card {
      display: flex;
      .foto {
        align-self: center;
      }
      .card-footer {
        border: none;
        height: 40px;
        background: none;

        button {
          background-color: $lightBlue;
          border-radius: 5px;
          border: none;
          margin: 5px;

          &:hover {
            background-color: $lightBlueIntense;
          }
        }
      }
    }
    .card-header {
      background: $light;
      color: $blueProject;
      width: 90vw;
      border-color: $blueProject;
      font-size: 20px;
      font-weight: bold;
    }

    .datecard {
      width: 100%;

      .carta {
        border-style: solid;
        border-color: $blueProject;
        margin: 10px 10px 10px 10px;
        border-radius: 5px;

        .card-header {
          font-size: 20px;
          width: 100%;
        }

        .card-body {
          .special {
            color: $blueProject;
            font-weight: bold;
          }
        }

        button {
          background-color: $blueProject;
          color: $light;
          font-weight: bold;

          &:hover {
            background-color: $blueProjectIntense;
          }
        }
      }
    }
  }

  .card-body {
    h3 {
      font-weight: bold;
      text-align: center;
      display: wrap;
      button {
        margin-right: 20px;
        background-color: $greenProjectIntense;
        color: $light;
        font-weight: bold;

        &:hover {
          background-color: $greenProject;
        }
      }

      .userbtn {
        background-color: $lightBlueIntense;
        color: $light;
        font-weight: bold;

        &:hover {
          background-color: $lightBlue;
        }
      }
    }
  }
}

.container {
  width: 100%;
}

:host zxing-scanner::ng-deep video {
  max-height: 50vh;
  object-fit: contain;
}
:host zxing-scanner::ng-deep {
  border-style: solid;
  border-color: #5d78ff;
}
