@import '../../styles/variables.scss';
//https://mdbootstrap.com/docs/b4/jquery/modals/forms/

.header{

    font-size: 10vh;

}
.card{
    margin: 10vh 0;
}

.userbtn{
    max-width: fit-content;
    display: inline-block;
}

.nameheader{

    color: $blueProject;

}

.container{
    width: 100%;
}

.btn-primary{
    background-color: $blueProject;
    border-radius: 5px;
    border: none;
    margin: 5px;
}