@import '../../styles/variables.scss';

.header{

    font-size: 10vh;

}

.nameheader{

    color: $blueProject;

}

.container{
    width: 100%;
}

.btn-primary {
    height: 60px;
    width: 100px;
}