$light: rgb(247, 247, 247);
$lightShadow: rgb(247, 247, 247, 0.9);
$blueProject: rgb(31,53,116); 
$blueProjectIntense: rgb(21, 40, 92); 
$background: '../../assets/background.svg';
$greenProject: rgb(0,255,132);
$lightBlue: rgb(39,194,228);

