@import "../../styles/variables.scss";
////https://www.remotestack.io/angular-firebase-authentication-example-tutorial/

.close {
  color: #fff;
  opacity: 1;
  position: absolute;
  top: 15px;
  right: 15px;
}

.modal-content {
  border-radius: 15px;
  border: none;
}
.modal-header {
  position: relative;
  justify-content: center;
  background: $blueProject;
  color: white;
}
.modal-body {
  padding: 30px;
}
.modal-footer {
  background: #f2f2f2;
}
h4 {
  text-align: center;
  font-size: 20px;
}
label {
  font-weight: normal;
  font-size: 15px;
  color: $blueProject;
}
.form-control,
.btn {
  min-height: 38px;
  border-radius: 2px;
}

.btn {
  min-width: 50px;
  background-color: $blueProject;
  border: none;
  line-height: normal;

  &:hover {
    background-color: $blueProjectIntense;
  }
}
