@import "../../styles/variables.scss";
////https://www.remotestack.io/angular-firebase-authentication-example-tutorial/

.modal-content {
  border-radius: 15px;
  border: none;

  .modal-header {
    position: relative;
    justify-content: center;
    background: $blueProject;
    color: $light;

    .close {
      position: absolute;
      top: 15px;
      right: 15px;
      color: #fff;
      opacity: 1;
    }

    .modal-title {
      color: $light;
      font-size: 30px;
      font-weight: bold;
      text-align: center;
    }
  }
}

.modal-body {
  padding: 30px;

  label {
    font-weight: normal;
    font-size: 13px;
  }

  .form-control,
  .modal-login .btn {
    min-height: 38px;
    border-radius: 2px;
  }
}

.btn {
  min-width: 50px;
  background: $blueProject;
  border: none;
  border-radius: 0;
  line-height: normal;

  &:hover {
    font-weight: bold;
  }
}